{% extends "base.html" %}
{% load static from staticfiles %}
{% block head_styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="{{MEDIA_URL}}{{blog.author.profile.image}}" class="img-circle">
            </a>
            <p><span class="boldtext">Author:</span> {{ post.author.username }}</p>
        </div>
        <div class="col-sm-10 col-md-9">
            <h3>{{ post.title }}</h3>
            
            {% if post.image %}
            
            <img src="{{MEDIA_URL}}{{blog.image}}"/>
            
            {% endif %}
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ blog.content | linebreaksbr }}</p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <p><span class="boldtext">Views:</span>{{ post.views}}</p>
                    <p><span class="boldtext">Tag:</span> history</p>

                    <a href="{% url 'show_all' %}" class="btn btn-default">Back to Blog</a>
                    
                    {% if can_edit %}
                    <a href="{% url 'edit_post' blog.id %}" class="btn btn-default">Edit the Post</a>
                    {% endif %}
                    
                    {% if perms.blog.can_publish %}
                    <a href="#" class="btn btn-default">Publish Post</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
